tr[class="read"] {
  background-image:linear-gradient(#96c93d,#6f6f6f);
}
tr[class="to-read"]{
  background-image:linear-gradient(#00b06b,#9989);
}
tr[class="in-progress"]{
  background-image:linear-gradient(#ffd200,#f79f7e);
}
span {
 display:inline-block;
}
tr[class="to-read"] span[class="status"]{
  border:1px solid #333;
  background-image:linear-gradient(#11998e,#589);
}
tr[class="read"] span[class="status"]{
  border:1px solid #333;
  background-image:linear-gradient(#118f, #8f7f7f);
}

tr[class="in-progress"] span[class="status"]{
  border:1px solid #333;
  background-image:linear-gradient(#96ef,#7f7f77);
}
span[class="status"],span[class^="rate"]{
  height:50px;
  width:70px;
  padding:40px;
}
span[class^="rate"] > span{
  border:1px solid #333;
  border-radius:5px;
  margin:2px;
  height:15px;
  width:15px;
  background-color:#e0e0e0
}
span[class~="one"]>span:first-child { 
  background-image:linear-gradient(#f5af19, #f12711);
}
span[class~="two"]>span:nth-child(-n+2){
  background-image:linear-gradient(#f5af19, #f12711);
}
span[class~="three"]>span {
  background-image:linear-gradient(#f5af19, #f12711);
}
