tr[class="read"]{
  background-image:linear-gradient(#b2ffb2,#e0ffe0);
}
tr[class="to-read"]{
  background-image:linear-gradient(#d4fc79,#96e6a1);
}
tr[class="in-progress"]{
  background-image:linear-gradient(#cfd9df,#e2ebf0);
}
span{
  display:inline-block;
}
tr[class="to-read"] span[class="status"]{
  border:2px solid #333;
  background-image:linear-gradient(#6f6f,#66ff);
}
tr[class="read"] span[class="status"]{
  border:2px solid #333;
  background-image:linear-gradient(#6fff,#666);
}
tr[class="in-progress"] span[class="status"]{
  border:2px solid #333;
  background-image:linear-gradient(#6f6f,#666);
}
span[class="status"], span[class="rate"]{
height:60px;
width:80px;
padding:15px;
}
span[class^="rate"]>span{
  border-radius:2px solid #333;
  margin:10px;
  height:25px;
  width:25px;
  background-color:#6fff;
}
span[class~="one"]>span:first-child{
  background-image:linear-gradient(#df55df,#bf77bf);
}
span[class~="two"]>span:second-child{
  background-image:linear-gradient(#de66de,#fff);
}
span[class1~="three"]>span:third-child{
  background-image:linear-gradient(#de99de,#333);
}
